@font-face {
    font-family: 'lato-thin';
    src: url('../../../public/fonts/Lato/Lato-Thin.ttf');
}
@font-face {
    font-family: 'lato-bold';
    src: url('../../../public/fonts/Lato/Lato-Bold.ttf')
}

@font-face{
    font-family: 'robot';
    src: url('../../../public/fonts/Roboto/Roboto-Thin.ttf');
}

* {
    color: #F8F8F8;
    font-family: 'robot';
}

/********* HEADING AND SEARCH BAR STYLE *********/

.headingAndSearch {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.headingNotLogged{
    height: 500px;
    max-width: 1180px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.mmm {
    color:#3A2F3D;
}
.headingNotLogged .mainHeading{
    font-family: 'lato-thin';
    font-size: 64px;
}
.headingAndSearch .mainHeading{
    font-size: 36px;
}
.mainHeading span {
    font-family: 'lato-bold';
}
.headingNotLogged .subHeading{
    margin-bottom: 50px;
    font-size: 21px;
    text-align: center;
}
.headingAndSearch .subHeading{
    font-size: 16px;
}

/********* RESULTS AND TRACK LIST CONTAINERS *********/

.outerContainer {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.trackListContainers {
    width: 48%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #00000033;
    height: 75vh;
    background-color: #ffffff40;
    border-radius: 5px;
}
.trackListContainers:nth-child(1){
  
    overflow: scroll;
    border-radius: 5px;
}
@media only screen and (max-width: 1000px) {
    .trackListContainers {
        width: 95%;
    }
}
