.playlistContainer {
    display: flex;
    flex-direction: column;
 /*   background-color: #0005;*/
    padding: 20px;
    border-radius: 5px;
    height: auto;
}
.playlistTitle {
    color: black;
    text-align: center;
    height: 40px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    text-align: left;
    padding-left: 20px; 
    margin-bottom: 10px;
}
.playlistTitle:focus {
    outline: none;
    box-shadow: 10px 10px 10px #3A2F3D;
    transition: all 0.5s;
}
.playlistTitle:focus {
    outline-color: #3A2F3D;
}
.playList{ 
    height: auto;
    max-height: 450px;
    overflow: scroll;
}
.addPlaylistButton {
    height: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
    border: none;
    font-size: 16px;
    background-color: #1C1C1C;
    transition: all 0.5S;
}
.addPlaylistButton:hover{
    color: #3A2F3D;
    background-color:#f1f1f1;
    outline: none;
    box-shadow: 10px 10px 10px black;
    transition: all 0.5s;
}
.searchContainer {
    display: flex;
    width: 100%;
    max-width: 500px;
}
.search {
    color: black;
    text-align: center;
    height: 40px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    text-align: left;
    padding-left: 20px;
    
}
.search:focus{
   outline: none;
   box-shadow: 10px 10px 10px #3A2F3D;
   transition: all 0.5s;
}